@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article>
        <h2>Mi Mascota Favorita</h2>
        <img src="~/images/mascota.jpeg" alt="Foto de mi mascota" />
        <p>Mi mascota es un adorable capibara llamado Capy. Es muy juguetón y le encanta correr en el parque. Siempre está lleno de energía y es el mejor compañero que alguien podría pedir.</p>
    </article>
</div>
